<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040922403788-41bkh0ek6g1gjm00opmhop43j6u0dff9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040922403788-41bkh0ek6g1gjm00opmhop43j6u0dff9</string>
	<key>API_KEY</key>
	<string>AIzaSyCpQkqnERNO8EMo_GjLU4K_2gxJUDCPg6c</string>
	<key>GCM_SENDER_ID</key>
	<string>1040922403788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativetemplate</string>
	<key>PROJECT_ID</key>
	<string>react-native-template-aeba8</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-template-aeba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040922403788:ios:aef99d44f9909bbb6cf369</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-template-aeba8.firebaseio.com</string>
</dict>
</plist>